body>div {
    display: flex;
  }

  .menu {
    background-color:#EFE8E7;
    height: 4rem;
    width:100vw;
    display:flex;
    justify-content: flex-end;
    align-items: center;
  }
  main {
    min-height: 100vh;
    min-width: 70vw;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  nav>a {
    margin-right: .7rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    color:#c08b89;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
    aside{
        min-height: 80vh;
        min-width: 15vw;
        background-color: #cebdb5;}
